// Footer Styles
footer {
    border-top: 1px dotted $body-bg-color;
    background: $navbar-color;
    color: $text-color-light;
    display: flex;

    div{
        flex:1 1 31%;
        padding:0 20px;
        @include display_ul;
        h2{
            font-size: 1.2em;
        }
        ul{
           li{
                a{
                    font-size: 0.9em; 
                    line-height: 1;
                }
           } 
        }
        
        p{
            font-size: 0.9em;
            line-height: 1;
        }
    }
  
}