//header style

header{
    background: $navbar-color;
    height: 80px;
    display: flex;
    padding: 0;

    h1{
         flex: 1 1 20%;
         margin: 0 auto;
         padding: 0;

        
         a{
            color: $text-color-light;
            text-align: center;
            font-size: 1.9em;
            text-shadow: 10px 10px 10px #363636;
            text-decoration: none;
         }
        
    }
    
    nav{
        flex: 1 1 80%;
        padding: 5px;
        margin-right: 20px;
        ul{
            display: flex;
            justify-content: flex-end;
            @include display_ul;
            a{
                color: $text-color-light;
                font-size: 1.2em;
                padding: 10px;
                margin: 0 10px;
                font-weight: bold;
            }
        }

    }
}