main.outline{
    min-height: 80vh;
    display: flex;
    aside{
        flex:1 1 15%;
    }

    section{
        flex:1 1 80%;
   
        div{
            padding: $padding;
            display: flex;
            flex-direction: column;
        }
    }

    
        
}