// Colors
$body-bg-color: #303030;
$wrapper-bg-color: antiquewhite;
// Text Colors
$text-color-dark: black;
$text-color-light: white;
$navbar-color: royalblue;

// Fonts
$body-font: Georgia, Times, Times New Roman, serif;
$heading-font: Tahoma, Verdana, Segoe, sans-serif;

// Typographic Defualts
$line-height: 1.4;

// Layout variables
$padding: 30px;
