div.form-heading{
    width: 100%;
    height: auto;
}

div.form{
    display: flex;
    justify-content: space-evenly;
    section.form_container{
        flex: 1 1 80%;
        max-width: 750px;
        min-height: 50vh;
        margin:20px 10px;
        margin-left: 30px;
        padding: 10px;

        background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
        radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
        radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
        background-size: 110px 200px;
        background-repeat: repeat-x;
    
        h1{
            margin-bottom: 60px;
        }
        form{
            div.info{
                display: flex;
                p{
                    flex: 1 1 50%;
                    font-weight: bold;
                }
            }
        }
        
    }

    aside{
      flex: 1 1 20%;
      margin:10px;
      margin-right: 20px;
      div{
        padding: 10px;
        margin: 15px 10px;
        background:$navbar-color;
        color: $text-color-light;
        border-radius: 10px;
        box-shadow: 4px 4px 4px #2C2C2C;
        flex: 1 1 50%;
        @include display_ul;

        p{
            text-align: center;
        }
    }

    div.box1{
        bottom: 10px;
    }

   
    }

}



