main.outline{
    min-height: 80vh;
    display: flex;
    box-shadow: inset -5px -5px 10px 10px whitesmoke;
    aside{
        flex:1 1 18%;
        @include display_ul;
        padding-left:20px; 
        ul{
            display: flex;
            flex-direction: column;
            padding: 5px;
            li{
                border: 1px solid white;
                padding: 10px 15px;
                margin: 5px 0;
                text-align: center;
                border-radius: 5px;
                background: $navbar-color;
                
                a{
                    color: $text-color-light;
                    font-weight: bold;
                }
            }
        }
        
    }

    section{
        flex:1 1 78%;
        padding: $padding;
        margin: 10px;
        margin-right: 25px;
        div{
            padding: 10px;
            .heading{
                margin-top: 0;
                @include subheading;
            }

            h2{
                font-size: 1.3em;
            }
            table{
                @include table-style;
                border: 5px solid white;
                margin:2% 30%;
            }
            
        }
    }

    @media (max-width:  750px){

        flex-direction: column;
        
        aside{
            flex: 1;
            padding: 10px;
            margin: 5px;
            ul{
                flex-direction: row;
                justify-content: space-evenly;
                margin: 0 auto;
                padding: 0;
            }
        }

        section{
            flex: 1;
            margin: 5px;
            padding: 10px;
            div{
                h1{
                    margin: 10px auto;
                }

                table{
                    margin: 2px;
                }
            }
        }

        @media (max-width:  400px){
          aside{
           ul{
               li{
                   a{
                       font-size: 0.8em;
                   }
               }
           }
          }

        }
    }
        
}