/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.2; }

h1, h2, h3, nav a, table {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

h1, h2 {
  text-align: center; }

p {
  text-align: justify; }

body {
  background-color: #303030; }

.wrapper {
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background-color: antiquewhite;
  position: relative;
  margin: 0 auto; }

header {
  background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
  height: 80px;
  display: flex;
  padding: 0; }
  header h1 {
    flex: 1 1 20%;
    margin: 0 auto;
    padding: 0; }
    header h1 a {
      color: white;
      text-align: center;
      font-size: 1.9em;
      text-shadow: 10px 10px 10px #363636;
      text-decoration: none; }
  header nav {
    flex: 1 1 80%;
    padding: 5px;
    margin-right: 20px; }
    header nav ul {
      display: flex;
      justify-content: flex-end; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none;
          outline: none; }
      header nav ul a {
        color: white;
        font-size: 1.2em;
        padding: 10px;
        margin: 0 10px;
        font-weight: bold; }

main.outline {
  min-height: 80vh;
  display: flex;
  box-shadow: inset -5px -5px 10px 10px whitesmoke; }
  main.outline aside {
    flex: 1 1 18%; }
    main.outline aside li {
      list-style: none; }
      main.outline aside li a {
        text-decoration: none;
        outline: none; }
    main.outline aside ul {
      display: flex;
      flex-direction: column;
      padding: 5px; }
      main.outline aside ul li {
        border: 1px solid white;
        padding: 10px 15px;
        margin: 5px 0;
        text-align: center;
        border-radius: 5px;
        background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%); }
        main.outline aside ul li a {
          color: white;
          font-weight: bold; }
  main.outline section {
    flex: 1 1 78%;
    padding: 30px; }
    main.outline section div h1 {
      font-size: 2em;
      text-shadow: 10px 10px 10px #363636; }
    main.outline section div h2 {
      font-size: 1.3em; }
    main.outline section div table {
      border-collapse: collapse;
      width: auto;
      height: auto;
      border: 5px solid white;
      margin: 2% 30%; }
      main.outline section div table th, main.outline section div table td {
        text-align: center;
        padding: 10px; }
      main.outline section div table tr:nth-child(even) {
        background-color: white; }

section.form_container {
  max-width: 600px;
  height: auto;
  margin: 0 auto; }

footer {
  padding: 10px;
  border-top: 1px dotted #303030;
  background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
  color: white; }

/*# sourceMappingURL=styles.css.map */
