/* CSS Document */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

body {
  margin: 0; }

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.2; }

h1, h2, h3, nav a, table {
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

h1, h2 {
  text-align: center; }

h1 {
  font-size: 2em;
  text-shadow: 10px 10px 10px #363636; }

p {
  text-align: justify; }

body {
  background-color: #303030; }

.wrapper {
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  background-color: antiquewhite;
  position: relative;
  margin: 0 auto; }

header {
  height: 80px;
  padding: 0; }
  header .top-row {
    background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
    display: flex; }
  header h1 {
    flex: 1 1 20%;
    margin: 0 auto;
    padding: 0; }
    header h1 a {
      color: white;
      text-align: center;
      font-size: 1.9em;
      text-shadow: 10px 10px 10px #363636;
      text-decoration: none; }
  header .menu-btn {
    display: none; }
  header nav {
    flex: 1 1 80%;
    padding: 5px;
    margin-right: 20px; }
    header nav ul {
      display: flex;
      justify-content: flex-end; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none;
          outline: none; }
      header nav ul a {
        color: white;
        font-size: 1.2em;
        padding: 10px;
        margin: 0 10px;
        font-weight: bold; }
  @media (max-width: 750px) {
    header h1 {
      flex: 1 1 80%;
      text-align: left;
      padding: 5px 10px;
      margin: 0 auto; }
    .show header {
      height: auto;
      width: 100%; }
    header .menu-btn {
      flex: 1 1 10%;
      display: block;
      background-color: transparent;
      border: none;
      padding-right: 10px;
      cursor: pointer; }
      header .menu-btn div {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        padding: 0 10px; }
    header nav {
      display: none;
      width: 100%;
      justify-content: flex-end; }
      .show header nav {
        display: flex; }
    header nav ul {
      background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
      display: block;
      margin: 0;
      padding: 5px;
      padding-right: 10px; }
      header nav ul li {
        text-align: right; }
        header nav ul li a {
          text-align: center;
          font-weight: normal; } }

main.outline {
  min-height: 80vh;
  display: flex;
  box-shadow: inset -5px -5px 10px 10px whitesmoke; }
  main.outline aside {
    flex: 1 1 18%; }
    main.outline aside li {
      list-style: none; }
      main.outline aside li a {
        text-decoration: none;
        outline: none; }
    main.outline aside ul {
      display: flex;
      flex-direction: column;
      padding: 5px; }
      main.outline aside ul li {
        border: 1px solid white;
        padding: 10px 15px;
        margin: 5px 0;
        text-align: center;
        border-radius: 5px;
        background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%); }
        main.outline aside ul li a {
          color: white;
          font-weight: bold; }
  main.outline section {
    flex: 1 1 78%;
    padding: 30px; }
    main.outline section div h1 {
      font-size: 2em;
      text-shadow: 10px 10px 10px #363636; }
    main.outline section div h2 {
      font-size: 1.3em; }
    main.outline section div table {
      border-collapse: collapse;
      width: auto;
      height: auto;
      border: 5px solid white;
      margin: 2% 30%; }
      main.outline section div table th, main.outline section div table td {
        text-align: center;
        padding: 10px; }
      main.outline section div table tr:nth-child(even) {
        background-color: white; }

div.form-heading {
  width: 100%;
  height: 200px; }

div.form {
  display: flex;
  justify-content: space-evenly; }
  div.form section.form_container {
    flex: 1 1 80%;
    max-width: 750px;
    min-height: 50vh;
    margin: 20px 10px;
    margin-left: 30px;
    padding: 10px;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x; }
    div.form section.form_container h1 {
      margin-bottom: 60px; }
    div.form section.form_container form div.info {
      display: flex; }
      div.form section.form_container form div.info p {
        flex: 1 1 50%;
        font-weight: bold; }
  div.form aside {
    flex: 1 1 20%;
    margin: 10px;
    margin-right: 20px; }
    div.form aside div {
      padding: 10px;
      margin: 15px 10px;
      background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
      color: white;
      border-radius: 10px;
      box-shadow: 4px 4px 4px #2C2C2C;
      flex: 1 1 50%; }
      div.form aside div li {
        list-style: none; }
        div.form aside div li a {
          text-decoration: none;
          outline: none; }
      div.form aside div p {
        text-align: center; }
    div.form aside div.box1 {
      bottom: 10px; }

footer {
  border-top: 1px dotted #303030;
  background: linear-gradient(to right, #4bc7ed 22%, #499bea 64%, #207ce5 89%);
  color: white;
  display: flex; }
  footer div {
    flex: 1 1 31%;
    padding: 0 20px; }
    footer div li {
      list-style: none; }
      footer div li a {
        text-decoration: none;
        outline: none; }
    footer div h2 {
      font-size: 1.2em; }
    footer div ul li a {
      font-size: 0.9em;
      line-height: 1; }
    footer div p {
      font-size: 0.9em;
      line-height: 1; }

/*# sourceMappingURL=styles.css.map */
